<aside class="scores">
    <div id="realresults" style='display:none;'>
            <div class="result-item">
				<h4>My Score <b><div id="myResult" >0</div></h4>
			</div>
			<div class="result-item" style="text-align:right;">
				<h4>Opponent Score<b><div id="otherResult" >0</div></h4>
			</div>
	</div>
</aside>