<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

	<%- include('./partials/head'); -%>
	<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script src="scripts/main.js"></script>
	<script src="scripts/test.js"></script>
</head>

<body>

	<%- include('./partials/score'); -%>


	<div class="row">
		<div class="col-md-12 text-center">
			<div class="rules" style='display:none;'>
				<h2>2 Players Connected <br>The game will start in 10 seconds....</h2>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">Rules</h3>
					</div>
					<div class="panel-body">
						<ul style="text-align:left;">
							<li>Each question have have 10 seconds time..</li>
							<li>Click on the answer. Choices were disabled after one click</li>
							<li>Four Questions</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="started" id="realtime" style='display:none;'>
		<div class="question">
			<div class=" text-center">
				<p id="qst"></p>
				</h2>
			</div>
		</div>
	</div>

	<div class="choices">

		<button id="btn1" value=""></button>
		<button id="btn2" value=""></button>
		<button id="btn3" value=""></button>
		<button id="btn4" value=""></button>

	</div>

	<div class="current_res_c text-center" style='display:none;'>
		<div class='alert alert-success' role='alert'>Correct Answer</div>
	</div>

	<div class="current_res_w text-center" style='display:none;'>
		<div class='alert alert-danger' role='alert'>Wrong :(</div>
	</div>

	<div class="intermediate">
		<div id="conversation"> </div>
	</div>



	<div class="just_start">
		<div class="row text-center">
			<h2>Just Play a Real time Trivia Quiz </h2>
			<input type="text" id="input_user" placeholder="Enter Your Username..." required><br>
			<button class="btn btn-lg btn-start" id='btnJoin'>Start the !</button>
		</div>
	</div>


	<div id="view_result"></div>


	<div class="loading-page" style='display:none;'>
		<div class="counter">
			<h3>10</h3>
			<hr>
		</div>
	</div>

	<!--Timer-->

	<div id="finalresult_show" style='display:none;'>
		<div id="finalresult">
			Tie
		</div>
		<br>
		<div>
			<a href="http://localhost:4444">Play Again...</a>
		</div>
	</div>




</body>

</html>