<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('./partials/head'); -%>
</head>

<body>

    <div class="container-fluid">
        <div class="greet-name">
            <p id="welcome">welcome,</p>
            <p id="name"><%= name %></p>
        </div>
            <form name="category" method="post" action="/game" id="form1">
                <fieldset>
                    <legend>Choose a category to guess lyrics in</legend>
                    <label> <input type="radio" id="1" name="category" value="80s" required>80s</label>
        
                    <label><input type="radio" id="2" name="category" value="90s"><span>90s</span></label>
        
                    <label><input type="radio" id="3" name="category" value="00s">00s</label>

                    <label><input type="radio" id="4" name="category" value="10s">10s</label>
        
                    <input type="submit" id="submit" value="submit">
                </fieldset>
            </form>
    </div>


    <script src="../scripts/main.js"></script>
</body>
</html>