:root {
  --color-black: #232323;
  --color-pink: #ff6393;
  --color-dark-pink: #df4775;
  --color-purple: #342a47;
  --color-blue: deepskyblue;
  --color-gray: #525252;
  --color-green: #bbe187;

  --transition-fast: 0.1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(255, 115, 128);
  background: linear-gradient(153deg, rgba(255, 115, 128, 1) 0%, rgba(255, 193, 113, 1) 100%);
  height: 100vh;
}
